In [19]:
import numpy as np #for mean and median
import pandas as pd
from scipy import stats #for mode

In [5]:
data = pd.read_csv('roadac.csv')

In [6]:
list(data)

['Name of City',
 'Total number of Fatal Accidents - 2011',
 'All Accidents - 2011',
 'Persons Killed - 2011',
 'Persons Injured - 2011',
 'Total number of Fatal Accidents - 2012',
 'All Accidents - 2012',
 'Persons Killed - 2012',
 'Persons Injured - 2012',
 'Fatal Accidents - 2013',
 'Total Accidents - 2013',
 'Killed - 2013',
 'Injured - 2013',
 'Severity - 2013',
 'Fatal Accidents - 2014',
 'Greviously Injured Accidents - 2014',
 'Minor Accidents - 2014',
 'Non-Injurey Accidents - 2014',
 'Total Accidents - 2014',
 'Killed - 2014',
 'Injured - 2014',
 'Severity - 2014',
 'Fatal Accidents - 2015',
 'Greviously Injured Accidents - 2015',
 'Minor Accidents - 2015',
 'Non-Injurey Accidents - 2015',
 'Total Accidents - 2015',
 'Killed - 2015',
 'Injured - 2015',
 'Severity - 2015']

In [8]:
data.fillna(0, inplace=True)

In [9]:
data.isna().sum()

Name of City                              0
Total number of Fatal Accidents - 2011    0
All Accidents - 2011                      0
Persons Killed - 2011                     0
Persons Injured - 2011                    0
Total number of Fatal Accidents - 2012    0
All Accidents - 2012                      0
Persons Killed - 2012                     0
Persons Injured - 2012                    0
Fatal Accidents - 2013                    0
Total Accidents - 2013                    0
Killed - 2013                             0
Injured - 2013                            0
Severity - 2013                           0
Fatal Accidents - 2014                    0
Greviously Injured Accidents - 2014       0
Minor Accidents - 2014                    0
Non-Injurey Accidents - 2014              0
Total Accidents - 2014                    0
Killed - 2014                             0
Injured - 2014                            0
Severity - 2014                           0
Fatal Accidents - 2015                    0
Greviously Injured Accidents - 2015       0
Minor Accidents - 2015                    0
Non-Injurey Accidents - 2015              0
Total Accidents - 2015                    0
Killed - 2015                             0
Injured - 2015                            0
Severity - 2015                           0
dtype: int64

# mean

In [10]:
data["All Accidents - 2011"]

0      1299.0
1      2020.0
2       368.0
3       719.0
4      6031.0
5      3459.0
6      1126.0
7      7281.0
8       138.0
9       803.0
10     1109.0
11     2030.0
12     2651.0
13     4995.0
14     2002.0
15     2906.0
16      447.0
17      526.0
18     1986.0
19     3133.0
20     1668.0
21      616.0
22      557.0
23     1270.0
24      444.0
25      685.0
26     2694.0
27    25471.0
28      886.0
29     1231.0
30     1225.0
31      261.0
32     1039.0
33     1223.0
34      492.0
35     1262.0
36     1343.0
37      142.0
38     1548.0
39        0.0
40        0.0
41        0.0
42        0.0
43        0.0
44        0.0
45        0.0
46        0.0
47        0.0
48        0.0
49        0.0
50        0.0
51    89086.0
Name: All Accidents - 2011, dtype: float64

In [11]:
a = np.mean(data["All Accidents - 2011"])

In [12]:
b = np.mean(data["Total Accidents - 2015"])

In [13]:
print(a)
print(b)
print(b-a)

3426.3846153846152
4270.153846153846
843.7692307692305

In [14]:
((b-a)/a) * 100

24.625642637451445

# median

In [15]:
np.median(data["Total Accidents - 2015"])

1336.0

In [16]:
data["Total Accidents - 2015"]

0       1143.0
1       1837.0
2        446.0
3        654.0
4       4834.0
5       3621.0
6       1513.0
7       8085.0
8        114.0
9        669.0
10       826.0
11      2140.0
12      2761.0
13      5873.0
14      1894.0
15      3374.0
16       347.0
17       678.0
18      2561.0
19      4347.0
20      1561.0
21       745.0
22       624.0
23      1371.0
24       489.0
25      1037.0
26      2882.0
27     23468.0
28       962.0
29      1254.0
30       665.0
31      1443.0
32       780.0
33       903.0
34       435.0
35      1406.0
36      1164.0
37       424.0
38         0.0
39      1019.0
40       150.0
41       416.0
42      7328.0
43      1496.0
44      1487.0
45      1301.0
46      2189.0
47      2199.0
48       828.0
49      1644.0
50      1637.0
51    111024.0
Name: Total Accidents - 2015, dtype: float64

# mode

In [17]:
data = pd.read_csv('roadac.csv')

In [20]:
stats.mode(data["Total Accidents - 2015"])

ModeResult(mode=array([114.]), count=array([1]))